{% extends "template.html" %}

{% block title %}
	
{% endblock %}

{% block body %}
<h3>Details</h3>
<div class="row"><div class="detail-attr-label col-2">Title</div>{{ results.title }}</div>
<div class="row"><div class="detail-attr-label col-2">Author</div>{{ results.author }}</div>
<div class="row"><div class="detail-attr-label col-2">Year</div>{{ results.year }}</div>
<div class="row"><div class="detail-attr-label col-2">ISBN</div>{{ results.isbn }}</div>
<br>
<h3>Reviews</h3>
<p>
{% if goodreads %}
	{{ goodreads[0] }} goodreads.com users gave this book an average rating of {{ goodreads[1] }} out of 5.
{% elif results.isbn %}
	Goodreads.com data unavailable
{% endif %}
</p>

{% if reviews %}
	{% for r in reviews %}
		<p>User {{ r.user_name }} gave the book {{ r.rating }} out of 5</p>
		<div class="review-entry">{{ r.entry }}</div><br>
	{% endfor %}
{% else %}
	<p>Be the first to review!</p>
{% endif %}

{% if cannotSubmit == False %}
<h4>Submit a review!</h4>
<h5>Rating</h5>
<form name='submission' method='post' action='/submitReview'>
	<div class="row">
		{% for i in range(0, 6) %}
			<div class="radioOption col-1"><input type="radio" name="rating" value="{{i}}" required>{{i}}</div>
		{% endfor %}
	</div>
	<h5>Your Review</h5>
	<textarea name='reviewText' class="col-6" rows="5" required></textarea><br>
	<input type="hidden" name="isbn" value="{{results.isbn}}">
	<input type="submit" value="Submit Review">
</form>
{% endif %}
{% endblock %}