<!DOCTYPE html>
<html>
	<head>
		<title>{% block titlebar %}{% endblock %}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/stylings.css">
	</head>
	<body>
		<div class="container">
		<div class="user-bar row">
			{% if username %}
				<div class="user-name col order-1"><p>Hello, {{ username }}</p></div>
				<div class="logout col order-12"><p><a href="/logout">Click here to log out.</a></p></div>
			{% else %}
				<div class="login col order-12"><p><a href="/login">Sign In</a></div>
			{% endif %}
		</div>
			<div class="title-block"><h1>{% block title %}{% endblock %}</h1></div>
			<div class="container">
				{% block body %}
				{% endblock %}
				{% if errMsg %}
				<div id="errMsg" class="alert alert-danger">{{ errMsg }}</div>
				{% endif %}
			</div>
		</div>
	</body>
</html>